streamlit==1.57.0

torch==2.11.0
torchvision==0.26.0

numpy==2.4.4
pandas==3.0.2
pillow==12.2.0

opencv-python-headless==4.13.0.92

matplotlib==3.10.9
scikit-learn==1.8.0
plotly==6.7.0

reportlab==4.5.0
qrcode==8.2